<!DOCTYPE html>
<html>
<head>
	<title>About Us || EsiBuy </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/aboutus.css">
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>Welcome to EasyBuy, your number one source for Fashion outfits. 
						We're dedicated to providing you the best of outfits, with a focus on dependability,
						customer service, and customer satisfaction. We're working to turn our passion for your complete fashion wear into a booming online store.
						We hope you enjoy our products as much as we enjoy offering them to you.
															 
						 Sincerely,
						
						 Esibuy</p>
					<div class="button">
						<a href="">Read More</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="image/img one.jpg">
			</div>
		</div>
	</div>

</body>
</html>