{% extends 'base.html' %}
{% load static %}

{% block content %}    

            <div class="text-box">
             
                <h1>Customizable Clothing Store
                
                <img src="{%static 'images/home.png'%}" height="400px" alt="Logo">
                </h1>
                
                <p class="p2" >We provide the best platform to design clothes and get them delivered in your doorsteps.<br>
                    You can also choose from already available designs and customize them.
                </p>
                
                  
                <a href="" class="hero-btn">Visit Us to know more</a>
            </div>

       
        </section>






         <section class="course">
            <h1>Our features</h1>
            <p>You can be sure of these things in our products.</p>
            <div class="row">
                <div class="course-col">
                    <h3>Quality</h3>
                    <p>We provide the best in class materials for the clothes at the most affordable price.
                    </p>
                </div>
                <div class="course-col">
                    <h3>Custom Size</h3>
                    <p>People can make clothes of custom size no matter thier size we will make it.
                    </p>
                </div>
                <div class="course-col">
                    <h3>Best Price</h3>
                    <p>Our prices are just unmatched for other website regarding the products and service.
                    </p>
                </div>
            </div>

         </section>

      

         <section class="campus">
            <h1> Our Products </h1>
            <p>We offer these products.</p>

            <div class="row">
                <div class="campus-col">
                    <img src="{% static 'images/ss1.jfif' %}">
                    <div class="layer">
                        <h3>Sweatshirt</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="{% static 'images/hs1.jfif' %}">
                    <div class="layer">
                        <h3>Shirt</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="{% static 'images/ts1.jfif' %}">
                    <div class="layer">
                        <h3>T-shirt</h3>
                    </div>
                </div>
            </div>

         </section>


         <!-----------Facilities------>

         <section class="facilities">
             <h1>Our Facilities</h1>
             <p>We provide the best platform to design clothes ane get them delivered to your doorsteps.
            </p>
            <div class="row">
                <div class="facilities-col">
                    <img src="{% static 'images/de1.jfif' %}">
                    <h3>Fast Delivery</h3>
                    <p>We have very fast and reliable delivery service.
                    </p>
                </div>
                <div class="facilities-col">
                    <img src="{% static 'images/qu1.jfif' %}">
                    <h3>Best Quality</h3>
                    <p>We provide the clothes of highest quality for the manufacture of products.
                    </p>
                </div>
                <div class="facilities-col">
                    <img src="{% static 'images/bs1.jfif' %}">
                    <h3>Best prices</h3>
                    <p>We provide the best prices for our products as low as posiible.
                    </p>
                </div>
            </div>
            
         </section>


         

        <section class="testimonials">
            <h1>What our Customers say.</h1>
            <p>Here is what some of our customers have to say about our services.</p>
            <div class="row">
                <div class="testimonials-col">
                    <img src="{% static 'images/user1.jpg' %}">
                    <div>
                        <p>This webiste is very reliable and It has never dissappinted me. Its quatily is one of the best in the market.
                        </p>
                        <h3>Christine Berkley</h3>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    
                </div>
                <div class="testimonials-col">
                    <img src="{% static 'images/user2.jpg' %}">
                    <div>
                        <p>The clothes customizing feature is amazing. The products are exactly as designed and of good quality.
                        </p><br>
                        <h3>Bella Jackson</h3>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                      
                    </div>
                </div>
            </div>
        </section>

       

        <section class="cta">
            <h1>Order our products from anywhere in the world.</h1>
            <a href="/contact" class="hero-btn">CONTACT US</a>
        </section>
    

        

        <section class="footer">
           	<div class="section">
		<div class="container2">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>Welcome to EasyBuy, your number one source for Fashion outfits. 
						We're dedicated to providing you the best of outfits, with a focus on dependability,
						customer service, and customer satisfaction. We're working to turn our passion for your complete fashion wear into a booming online store.
						We hope you enjoy our products as much as we enjoy offering them to you.
															 
						 Sincerely,
						
						 Esibuy</p>
					<div class="button">
						<a href="">Read More</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="image/img one.jpg">
			</div>
		</div>
	</div>
            <p> Made with <i class="fa fa-heart-o"></i> By Team_F</p>
        </section>


      
        <script>
            var navLinks = document.getElementById("navLinks");

            function showMenu(){
                navLinks.style.right = '0px';
            }
            function hideMenu(){
                navLinks.style.right = '-200px';
            }
        </script>

    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/62a9fcebb0d10b6f3e7785f8/1g5k07unt';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>

{% endblock content %}


{% block section %}

{% endblock section %}