{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
    

    <body>
        <div class="text-box, col-lg-4"  >
            
            <div class="nav2">
              <button class="subnavbtn">Male<i class="fa fa-caret-down"></i></button>
              <div class="subnav-content">
                <a href="#">Sweatshirt</a><br>
                <a href="#">Shirt</a><br>
                <a href="#">T-shirt</a><br>
              </div>
            </div>
            <div class="subnav">
              <button class="subnavbtn">Female <i class="fa fa-caret-down"></i></button>
              <div class="subnav-content">
                <a href="#">Sweatshirt</a><br>
                <a href="#">Shirt</a><br>
                <a href="#">T-shirt</a><br>
                
              </div>
            </div>
            <div class="subnav">
              <button class="subnavbtn">Plain <i class="fa fa-caret-down"></i></button>
              <div class="subnav-content">
                <a href="#">Sweatshirt</a><br>
                <a href="#">Shirt</a><br>
                <a href="#">T-shirt</a><br>
                
              </div>
            </div>
            
          </div>  
          <div class="col-lg-8" bgcolor = "pink">
            <h1>Hello</h1>
          </div>    

        </section>
        <section class="footer">
            
        <p> Made with <i class="fa fa-heart-o"></i> By Team_F</p>
        </section>
    </body>
</html>


{% endblock content %}


{% block section %}

{% endblock section %}