{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/edit.css' %}">{% endblock %}

{% block content %}

 <div class="container">
<div class="col-lg-4">
<div class="productimg">
<img class="cimage" src="{{numbers.image.url}}" width="20px">
<div>
</div>
</div>

  <div class = "product-content">
          <h2 class = "product-title">{{numbers.name}}</h2>
          <div class = "product-rating">
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star-half-alt"></i>
            <span>4.7(21)</span>
          </div>

          <div class = "product-price">
            <p class = "last-price">Old Price: <span>$257.00</span></p>
            <p class = "new-price">New Price: <span>{{numbers.name}}</span></p>
          </div>

          <div class = "product-detail">
            <h2>about this item: </h2>
            <p>{{numbers.description}}</p>
            </p>
            <ul>
              <li>Color: <span>Black</span></li>
              <li>Available: <span>in stock</span></li>
              <li>Category: <span>Shoes</span></li>
              <li>Shipping Area: <span>All over the world</span></li>
              <li>Shipping Fee: <span>Free</span></li>
            </ul>
          </div>

          <div class = "purchase-info">
            <input type = "number" min = "0" value = "1">
            <button type = "button" class = "btn">
              Add to Cart <i class = "fas fa-shopping-cart"></i>
            </button>
            <button type = "button" class = "btn">Compare</button>
          </div>

          



{% endblock content %}


{% block section %}

{% endblock section %}