{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/edit.css' %}">{% endblock %}

{% block content %}
{% load cart %}
{% load custom_filter %}

           

{% endblock content %}


{% block section %}

	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="{{numbers.image.url}}" /></div>
					
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						
						 
						</ul>
						
					</div>
					<div class="details col-md-6">
						 <label class="custom-field one">
              <input type="text" placeholder="{{numbers.name}}" readonly/>
        
            </label>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description">{{numbers.description}}</p>
						<h4 class="price">current price: <span>Rs <label class="custom-field one"> <input type="text" placeholder="{{numbers.price}}" readonly/></span></h4>
						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
						<h5 class="sizes">sizes:
              <fieldset>
              <input id="item-1" class="radio-inline__input" type="radio" name="accessible-radio" value="item-1" checked="checked"/>
              <label class="radio-inline__label" for="item-1">
                  s
              </label>
              <input id="item-2" class="radio-inline__input" type="radio" name="accessible-radio" value="item-2"/>
              <label class="radio-inline__label" for="item-2">
                  m
              </label>
              <input id="item-3" class="radio-inline__input" type="radio" name="accessible-radio" value="item-3"/>
              <label class="radio-inline__label" for="item-3">
                  l
              </label>
              <input id="item-4" class="radio-inline__input" type="radio" name="accessible-radio" value="item-4"/>
              <label class="radio-inline__label" for="item-4">
                  xl
              </label>
            </fieldset>
						</h5>
						<h5 class="colors">Choose Colors:
                <input type="color" id="favcolor" name="favcolor" value=""><br><br>
              
						</h5>
						<div class="action">
            <div class="frame">
						<button class="custom-btn btn-6"><span>BUY NOW</span></button>
                </div>
              </div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



{% endblock section %}