{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="container sproduct my-5 pt-5">
    <div class="post-details">
        <h3 class="row justify-content-center py-4" style="font-size:50px;">Blog about EasyBuy</h3>
        <div class="col-lg-12 col-md-12 col-12">
            <div class="row col-lg-12 col-md-12 col-12 justify-content-center">
                <img class="img-fluid pb-5" id="MainImg" src="/static/images/demo.jpg" alt="Main Image" style="width:70%;">
            </div>
            <h2 class="mt-5 mb-5">Description</h2>
            <p style="font-size:25px;color: #a8a8a8;
            font-weight: 400;
            font-family: Montserrat;
            line-height: 35px;">Lorem ipsum</p>
        </div>

    </div>

</section>


{% endblock content %}


{% block section %}
      
{% endblock section %}